body {
    margin: 0;
    padding: 0;
}
a {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
/* Style for the download button */
.download-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #007BFF; /* Customize the background color */
    color: #fff; /* Text color */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3; /* Change the color on hover */
}
